<!DOCTYPE html>
<!-- #Makes use of Server sent event example given at : https://github.com/stevenewey/ssedemo -->
<html>
    <head>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.8.0.min.js"></script>
        <script type="text/javascript">
            $(document).ready(
                    function() {
                        sse = new EventSource('/my_event_source');
                        sse.onmessage = function(message) {
                            serverMsg = message.data
                            //Raise an alert in browser if a bus is closed
                            if (serverMsg.indexOf("ALERT!")!==-1){
                                alert(serverMsg);
                            }
                            //Append current status 
                            //$('#output').append('<li>'+serverMsg+'</li>');
                            //Replace current status line with new one instead of appending
                            $('#output').text(message.data);
                            
                        }

                    })

        </script>
    </head>

    <body>
        <h1>Bus Alerts</h1>
        <ul id="output">
        </ul>
    </body>

</html>
